.background-inicial {
    background-color: #00778B;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.gotobusline {
    width: 50%;
    margin-top: 20px;
    background-color: #F2A900;
  }